@import url("https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css");

html {
  padding: 2rem;
}

.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #107c10;
  color: white;
  padding: 16px 24px;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.3s ease;
  z-index: 1000;
}
.toast.show {
  opacity: 1;
  transform: translateY(0);
}
.toast.toast-success {
  background-color: #107c10;
}
.toast.toast-error {
  background-color: #d13438;
}

/* 
:root {
  --gradient: linear-gradient(
    to right,
    rgb(184, 90, 160),
    rgb(141, 107, 184),
    rgb(107, 125, 214),
    rgb(74, 143, 231),
    rgb(1, 114, 173)
  );
}

mark {
  background: var(--gradient);
  background-clip: text;
  color: transparent;
}

hgroup a {
  font-weight: bold;
  font-size: var(--pico-font-size);
  text-decoration: none;
} */
