name: Bump

on:
  workflow_dispatch:

jobs:
  bump:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-node
      - run: |
          ITEMS=$(for dir in extensions packages services; do \
            ls -1d $dir/*/ 2>/dev/null | sed 's|/$||'; \
          done | sort | paste -sd ' ' -)
          npx --workspace=@copilot-ld/librel rel-bump minor $ITEMS
