name: Bump

on:
  workflow_dispatch:

jobs:
  bump:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-node
      - run:
          npx --workspace=@copilot-ld/librel rel-bump minor agent graph libagent
          libanalysis libcodegen libconfig libcopilot libdoc libeval libformat
          libgraph libindex libmemory libperf libpolicy librel librepl
          libresource librpc libstorage libtelemetry libtransform libtype
          libutil libvector libweb llm memory teams tool trace vector web
